.gp-crud-dropdown-input {

	.new-item-form-group {
		padding: 0 (@grid-gutter-width / 2);
		margin-bottom: @line-height-computed / 2 / 2;

		&.single-input {
			display: flex;

			// For wrapped inputs
			> :not(input)[lang] {
				display: flex;
			}

			input,
			[lang] {
				flex-grow: 1;
				margin-bottom: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			.btn {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	.no-visible-items {

		~ .divider {
			display: none;
		}

		~ .new-item-form-group {
			margin-bottom: 0;
		}
	}

	.has-active-item {

		~ .divider,
		~ .new-item-form-group {
			display: none;
		}
	}
}
